.topline {
  background-color: var(--primary-title-color);
  border: 1px solid #ececec;
  margin: 0 auto;
}
.header-container {
  display: flex;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  margin-right: 95px;
}
.web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
.studio {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.header-logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}
.site-nav {
  display: flex;
  list-style: none;
}
.menu-nav {
  display: inline-flex;
  list-style: none;
  margin-right: 50px;
  vertical-align: middle;
  position: relative;
}
.menu-nav:last-child {
  margin-right: 0;
}
.header-nav {
  align-items: center;
}
.contact-list {
  display: flex;
  margin-left: auto;
  list-style: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
}
.contact-list .menu-item {
  margin-right: 30px;
}
.menu-item {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}
.site-nav .link {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.current {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  padding-bottom: 32px;
  padding-top: 32px;
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background: var(--accent-color);
  border-radius: 2px;
  display: block;
  bottom: -1px;
}
.link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.link {
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms linear;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.contacts {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts {
  display: flex;
  justify-content: center;
  transition: color 250ms linear;
}
.menu-item:last-child {
  margin-right: 0;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
.contacts:hover .contact-icon,
.contacts:focus .contact-icon {
  fill: var(--accent-color);
}
.contact-icon {
  display: flex;
  margin-right: 10px;
  fill: currentColor;
  justify-content: center;
  transition: fill 250ms linear;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
