.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    transition: background-color 250ms linear;
  }
  .social-link:hover,
  .social-link:focus {
    background-color: var(--accent-color);
  }
  .social-link:hover .team-icon,
  .social-link:focus .team-icon {
    fill: var(--primary-title-color);
  }