.header-logo {
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    margin-right: 95px;
  }
  .web {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
  }
  .studio {
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
  }
  .header-logo {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
  }